{% extends "layout.html" %}
{% block content %}

<body>
	<h1 class="text-primary"> Annotation Page </h1>
	<div>
		<h3 class="text-primary"> Submitted Text: </h3>
		<h4> {{ original_text }} </h4>
	</div>

	<div class="test-box">
		<h3 class="text-primary"> Co-referenced Text with Element 1 Highlighted </h3>
	{% for this_dict in to_html %}
		{% set sent = this_dict['sentence'] %}
		{% for yellow in this_dict['yellows'] %}
			
			{{ sent.replace(yellow, "<mark data-bs-toggle='popover' title='ent_1_name' data-bs-content = 'rest of the triple'> {} </mark>".format(yellow)) | safe }}

	    {% endfor %}
	{% endfor %}
	</div>

	<h4>  </h4>
	
	<script>

		data = {{ to_js | tojson }};

		// the whole dictionary 
		console.log(data);

		document.addEventListener("DOMContentLoaded", function(){

		    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));

		    var popoverList = popoverTriggerList.map(function(element){
		        return new bootstrap.Popover(element);
	    	});

		    for(var i = 0; i < popoverTriggerList.length; i++) {
		    	let item = popoverTriggerList[i];
		  		// this gets me the key 
		    	let n1 = item.innerHTML;
		    	let prefix_n1 = "noun 1: ";
		    	item.setAttribute('data-bs-original-title', prefix_n1.concat(n1));
		    	item.setAttribute('title', prefix_n1.concat(n1));
		    	
		    	console.log(n1);
		    	
		    	// data dictionary key is n1

		    	for(const key in data) {
		    		// this should get me a list of tuples for each highlighted word
		    		if(key.toLowerCase().trim() == n1.toLowerCase().trim()) {
		    			for(var j = 0; j < data[key].length; j++) {
		    				var rel = data[key][j][0];
		    				var n2 = data[key][j][1];

		    				let prefix_rel = "relation label: ";
		    				let prefix_n2 = "noun 2: ";

		    				let content = prefix_rel + rel + ",\n" + prefix_n2 + n2;
		    				item.setAttribute('data-bs-content', content);
		    			}
		    		}
		    	}

		}
	});


	</script>
	

</body>
{% endblock content %}

