<!--
	This code was adapted from:
	Author: Alan Jones
	https://towardsdatascience.com/web-visualization-with-plotly-and-flask-3660abf9c946
	Accessed November 2022
-->

{% extends "layout.html"%}
{% block content %}
<body style="font-family:arial, sans-serif">
    <h1>{{header}}</h1>
    <h6><a href="/">Return to index page</a></h6>
    <div id="chart" class="chart"></div>
    <div>{{description}}</div>


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
	    var graphs = {{graphJSON | safe}};
	    Plotly.plot('chart',graphs,{});        
	</script>
</body>
{% endblock content %}




